<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="#">CapStore</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/">Home</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" *ngIf="!isLoggedIn()" routerLink="/login">Login</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" *ngIf="isLoggedIn()"
                routerLink="/change-password">Change Password</a>
            </li>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" *ngIf="!isLoggedIn()"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Register
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" routerLink="/customer-register">Customer</a>
                  <a class="dropdown-item" routerLink="/merchant-register">Merchant</a>
                </div>
              </div>
              <li class="nav-item active" *ngIf="isLoggedIn()">
                <!-- <a class="nav-link" (click)="logout()">Logout</a> -->
                <button type="submit" class="btn btn-primary" (click)="logout()">Logout</button>
            </li>
        </ul>
        
    </div>
</nav>